In [2]:
print("hello, World")

hello, World

In [6]:
#To print variable value in string.
#format is method of string object
x='pavan Here'
print("hello, World.{}".format(x))

hello, World.pavan Here

In [8]:
#Same as above code
#Format- this is ot a method of print function.its method of string object itself
x='pavan Here'
s="hello, World.{}".format(x)
print(s)

hello, World.pavan Here

In [1]:
#Beginning from 3.6 Format is changed as below
x='pavan Here'
print(f"hello, World.{x}")

hello, World.pavan Here

In [5]:
#Blocks and indentation is either at 0 or 4th position:
x=42
y=73
if x < y :
    print('x < y: x is {} and y is {}'.format(x,y))

x < y: x is 42 and y is 73

In [8]:
#Blocks and indentation is either at 0 or 4th position:
x=42
y=73
if x < y : #if codition true bothe iwll print else only "something else" will print
    print('x < y: x is {} and y is {}'.format(x,y))
print("something else")

x < y: x is 42 and y is 73
something else

In [26]:
#Blocks in python are indentent at same level and indentation is either at 0 or 4th position:
x=42
y=73
if x< y : #if codition true all will print else only "line 4","something else" will print.
           #If any prnt or statement starts at other than 0th or 4th tab it throws unindendent error.
    print('x < y: x is {} and y is {}'.format(x,y))
    print("line 1")
    print("line 2")
    print("line 3")
print("line 4")    
print("something else")

x < y: x is 42 and y is 73
line 1
line 2
line 3
line 4
something else

In [30]:
x=42
y=73
if x > y : #if codition true till "lin3 is printred and "something else" else only "line 4","something else" will print.
    print('x < y: x is {} and y is {}'.format(x,y))
    print("line 1")
    print("line 2")
    print("line 3")
else:    
    print("line 4")    
print("something else")

line 4
something else

In [1]:
#Loops while,For
#Whiles loop tests a condition and execute body of loop  while condition is true
#For loop body of loop is executed for each element in sequence until sequence completed.
words1=['one','two','three','four']
n=0
while(n<5):
    print(words1[n])
    n +=1
print("while condition executed")

one
two
three
four

IndexError: list index out of range

In [47]:
#Loops while,For
#Whiles loop tests a condition and execute body of loop  while condition is true
#For loop body of loop is executed for each element in sequence until sequence completed.
a, b = 0, 1
while(b<100):
    print(b,end=' ',flush=True)
    a,b=b,a+b 
print()

1 1 2 3 5 8 13 21 34 55 89

In [50]:
# For loop is easy and convininet tham while
words1=['one','two','three','four']
for i in words1:
    print(i)

one
two
three
four

In [2]:
#Functions with default args:
def func4(n = 7):
    print(n)
func4()

7

In [3]:
#Functions with args:
def func4(n):
    print(n)
func4("hello")

hello

In [4]:
#Functions with args and return value. all functions in python has return  values,if no return it will pass none
def func4(n):
    print(n)
    return (n) # if return is commented then we get output as "Hello" and "None".else we get hello,hello
x=func4("hello")   
print(x)

hello
hello

In [81]:
#Functions with args and return value. all functions in python has return  values,if no return it will pass none
def func4(n):
    print(n)
    return (n+'pavan') # if return is commented then we get output as "Hello" and "None".else we get hello,hellopavan
x=func4("hello")   
print(x)

hello
hellopavan

In [84]:
#Functions with args and return value. all functions in python has return  values,if no return it will pass none
def func4(n):
    print(n)
    return # if return is commented then we get output as "Hello" and "None".else we get hello,hellopavan
x=func4("hello")   
print(x)

hello
None

In [112]:
#Functions example

def isprime(n):
    if n<=1:
        return False
    for x in range(2,n):
        if n % x==0:
            return False
    else:
        return True
n=6
if isprime(n):
    print(f'{n} is prime')
else:
    print(f'{n} is not prime')

6 is not prime

In [6]:
#Functions example

def isprime(n):
    if n<=1:
        return False
    for x in range(2,n):
        if n % x==0:
            return False
    else:
        return True
    
def list_primes():
    for n in range(100):
        if isprime(n):
            print(n,end=' ',flush=True)
    print()
    
list_primes()

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [14]:
#Objects,class.
class Duck:
    def quack(self): #self is not is a keyword, we can use anything.It is reference to object in class.
        print("quaaak")
    def walk(self):
        print("walks")

def main():
    donald = Duck() # creating object donald for class Duck
    donald.quack() #calling method quack
    donald.walk()
    
if __name__ == '__main__': main()

quaaak
walks

In [18]:
#Objects,class.
class Duck:
    sound ="quaaaka" #passing variables 
    walking = "walking like duck"   #passing variables 
   
    def quack(self): #self is not is a keyword, we can use anything.It is reference to object in class.
        print(self.sound) 
    def walk(self):
        print(self.walking)

def main():
    donald = Duck() # creating object donald for class Duck
    donald.quack() #calling method quack
    donald.walk()
    
if __name__ == '__main__': main()

quaaaka
walking like duck

In [30]:
def func1():
    print('A')
    # print('B')
print('C')
func1()

C
A

In [31]:
def function (n= 1):
         print (n)

function ( )

1

In [37]:
#Data types and values, we have int,float,string,bool basic data types

x=7
print('x value is {}'.format(x))
print(type(x))

x value is 7
<class 'int'>

In [45]:
#Data types and values, we have int,float,string,bool basic data types

x=7.0
print('x value is {}'.format(x))
print(type(x))

x value is 7.0
<class 'float'>

In [41]:
#Data types and values, we have int,float,string,bool basic data types

x='pavan'
print('x value is {}'.format(x))
print(type(x))

x value is pavan
<class 'str'>

In [43]:
#Data types and values, we have int,float,string,bool basic data types

x=True
print('x value is {}'.format(x))
print(type(x))

x value is True
<class 'bool'>

In [47]:
#Data types and values, we have int,float,string,bool basic data types

x=None
print('x value is {}'.format(x))
print(type(x))

x value is None
<class 'NoneType'>

In [70]:
#Strings are objects in python
a=8
b=9
x="seven {} {}".format(8,9) # format applied on string
print(x)

x= f'seven {b} {a}' # format applied on string
print(x)
x= f"seven {a} {b}" # format applied on string
print(x)

a=8
b=9
x= f'seven {b:>09} {a:<09}' # format applied on string
print(x)

x="seven".capitalize() # we are using method on strings
print('x value is {}'.format(x))
x="seven".upper() # we are using method on strings
print('x value is {}'.format(x))

seven 8 9
seven 9 8
seven 8 9
seven 000000009 800000000
x value is Seven
x value is SEVEN

In [72]:
#Decimal type , especially for currency .Below example we expected 0 but due to precision in computer it gave slight upper value than 0
x=.1+.1+.1-.3
print(x)

5.551115123125783e-17

In [77]:
#Decimal type , to fix this we use decimal type
from decimal import *
a=Decimal('.10')
b=Decimal('.30')
x= a + a + a - b
print(x)
print(type(x))

0.00
<class 'decimal.Decimal'>

In [88]:
# None," ",0 evaluate to bool type 'false'
x=None
print('x value is {}'.format(x))
if x:
    print(True)
else:
    print(False)
    
y=""
print('y value is {}'.format(y))
if y:
    print(True)
else:
    print(False)    
    
z=""
print('z value is {}'.format(z))
if z:
    print(True)
else:
    print(False)
    
#Any thing other than above are true.
m="a"
print('m value is {}'.format(m))
if m:
    print(True)
else:
    print(False)
    
m_1=3
print('m value is {}'.format(m))
if m_1:
    print(True)
else:
    print(False)

x value is None
False
y value is
False
z value is
False
m value is a
True
m value is a
True

In [99]:
#Python provides some sequence types including lists,dictnories,tuples.
#Lists are created within square brackets,Lists are mutable
x=[1,2,3,4,5]
x[3]=54
print(type(x))    
for i in x:
    print(f'x is {i}')

    
#Tuple is same like list and created in paranthesis, but its immutable
y=(1,2,3,4,5)
print(type(y))  
for i in y:
    print(f'y is {i}')

<class 'list'>
x is 1
x is 2
x is 3
x is 54
x is 5
<class 'tuple'>
y is 1
y is 2
y is 3
y is 4
y is 5

In [111]:
# Range is laswo immutable
for i in range(10): #i[4] =10 will give error
    print(i)
print(type(i))
# Range between
for j in range(4,10):
    print(f'j is {j}') 
print(type(j))    
# Range between with step    
for j in range(4,20,2):
    print(f'j is {j}')    
#we can change range to list  
z=list(range(7))
z[3]=10
print(z)
print(type(z))

0
1
2
3
4
5
6
7
8
9
<class 'int'>
j is 4
j is 5
j is 6
j is 7
j is 8
j is 9
<class 'int'>
j is 4
j is 6
j is 8
j is 10
j is 12
j is 14
j is 16
j is 18
[0, 1, 2, 10, 4, 5, 6]
<class 'list'>

In [1]:
#Dictionary are mutable and they key and value, they are specified in flower bracket

x={'one':1,'two':2,'three':3,'four':4,'five':5}
print(x)
     #for i in x:
    # print(f'x is {i}') prints only keys to pull all values use below
for i, j in x.items():
    print(f'keys is {i} and values is {j}')
#Dictinary are mutable
x['three']=42
for i, j in x.items():
    print(f'values after updating /n keys is {i} and values is {j}')

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
keys is one and values is 1
keys is two and values is 2
keys is three and values is 3
keys is four and values is 4
keys is five and values is 5
values after updating /n keys is one and values is 1
values after updating /n keys is two and values is 2
values after updating /n keys is three and values is 42
values after updating /n keys is four and values is 4
values after updating /n keys is five and values is 5

In [43]:
#type() and  id()
y=(1,2,3,4,5)
print('y is {}'.format(y))
print(type(y)) 

print("#----------------------------------------------------------------- \n \n ")

z=(1,'two',3.0,[4,'foor'],5)
print('z is {}'.format(z))
print(type(z)) 
print(type(z[1]))
print(type(z[2]))
print(type(z[3]))

print("#----------------------------------------------------------------- \n \n ")

a=(1,'two',3.0,[4,'foor'],5)
b=(1,'two',3.0,[4,'foor'],5)
print('a is {}'.format(a))
print('b is {}'.format(b))
print(type(a))
print(type(b))
print(id(a)) #Id returns a unique identifier for object
print(id(b))
print(id(a[0])) #Id is same for literal number 
print(id(b[0]))

print("#----------------------------------------------------------------- \n \n ")

a=(1,'two',3.0,[4,'foor'],5)
b=(1,'two',3.0,[4,'foor'],5)
if tuple(a)==True: # this will not give if its tuple
    print('yep')
else:
    print('nope')
print("#----------------------------------------------------------------- \n \n ")   
a=(1,'two',3.0,[4,'foor'],5)
b=[1,'two',3.0,[4,'foor'],5]

if isinstance(b, tuple): # this will  give if its tuple
    print('tuple')
elif isinstance(b, list):
    print('list')  
else:
    print('nope')

y is (1, 2, 3, 4, 5)
<class 'tuple'>
#-----------------------------------------------------------------


z is (1, 'two', 3.0, [4, 'foor'], 5)
<class 'tuple'>
<class 'str'>
<class 'float'>
<class 'list'>
#-----------------------------------------------------------------


a is (1, 'two', 3.0, [4, 'foor'], 5)
b is (1, 'two', 3.0, [4, 'foor'], 5)
<class 'tuple'>
<class 'tuple'>
2766694539408
2766694054224
2766613604656
2766613604656
#-----------------------------------------------------------------


nope
#-----------------------------------------------------------------


list

In [48]:
#Conditional,comparision expresions --> ==,!=,<,>,<=,>=,and,or,not , x in y tests membship
hungry=True
x='feed the bear' if hungry else 'dont feed the bear' #this is ternary operator
print(x)

feed the bear

In [78]:
#Python has arithematic operations --> 
## +(addition),-(subtarction),*(multiply),/(division),//(integer division),%(modulo or remainder),**(exponent)
a=10
b=20
c=a+b
print(f'c is {c}')

#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=20
c=a-b
print(f'c is {c}')

#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=20
c=a/b # in python 3 the value return is float earlier it e=was integer
print(f'c is {c}')

#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=2
c=a//b # integer division
print(f'c is {c}')

#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=2
d=3
c=a%b # mod division
c1=a%d
print(f'c is {c}')
print(f'c1 is {c1}')

#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=2
c= a**b # exponent means a to power of b(10*10)
d= b**a # exponent means b to power of a(2^10)
print(f'c is {c}')
print(f'd is {d}')

c is 30
c is -10
c is 0.5
c is 5
c is 0
c1 is 1
c is 100
d is 1024

In [85]:
#comparision operator:

a=10
b=2
if a>b:
    print('comparision is true' )
else:
    print('comparision is false')
    
#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=2
if a<b:
    print('comparision is true' )
else:
    print('comparision is false')
#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=2
if a<=b:
    print('comparision is true' )
else:
    print('comparision is false') 

#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=2
if a>=b:
    print('comparision is true' )
else:
    print('comparision is false')
#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=10
if a==b:
    print('comparision is true' )
else:
    print('comparision is false')     

#print("#----------------------------------------------------------------- \n \n ") 

a=10
b=10
if a!=b:
    print('comparision is true' )
else:
    print('comparision is false')

comparision is true
comparision is false
comparision is false
comparision is true
comparision is true
comparision is false

In [114]:
#Boolean operators --> and,or,not,in(value in set),not in,is(same object identity),is not
x=True
y=False

if x and y: # since one value is false result is false
    print("print expresssion is true")
else:
    print("print expresssion is false")

if x or y: # since one value is true result is true
    print("print expresssion is true")
else:
    print("print expresssion is false")   
    
if not x:
    print("print expresssion is true")
else:
    print("print expresssion is false")  
    
if not y:
    print("print expresssion is true")
else:
    print("print expresssion is false") 
    
print("#----------------------------------------------------------------- \n \n ")    

x=["one","two","tree","animal","dog"]
y='one'

if y in x:
    print("print expresssion is true")
else:
    print("print expresssion is false") 
    
if 'leaf' in x:
    print("print expresssion is true")
else:
    print("print expresssion is false") 
 
if 'tree' in x:
    print("print expresssion is true")
else:
    print("print expresssion is false")  
    
if y not in x:
     print("print expresssion is true")
else:
    print("print expresssion is false") 

print("#----------------------------------------------------------------- \n \n ") 
x=["one","two","tree","animal","dog"]
y='one'

if y is x:
    print("print expresssion is true")
else:
    print("print expresssion is false") 
    

if y is x[0]:
    print("print expresssion is true")
else:
    print("print expresssion is false")   

print(id(y))
print(id(x[0]))

if y is x[1]:
    print("print expresssion is true")
else:
    print("print expresssion is false")   

print(id(y))
print(id(x[1]))

print expresssion is false
print expresssion is true
print expresssion is false
print expresssion is true
#-----------------------------------------------------------------


print expresssion is true
print expresssion is false
print expresssion is true
print expresssion is false
#-----------------------------------------------------------------


print expresssion is false
print expresssion is true
2766693702000
2766693702000
print expresssion is false
2766693702000
2766694303088

In [143]:
#additonal control for loops- continue , break ,else

secret='swordfish'
pass1=''
auth=False
count=0
max_attempt=5

while pass1 != secret:
    count+=1
    if count > max_attempt:break #if break is not used this will create infinite loop.used to bresk out of loop prematurely
    if count ==3 :continue #continue will start fro loop and ignore below code
    pass1=input(f"{count} enter password")
else:
    auth=True
    
print("Authorised" if auth else "calling FBI")

1 enter password we
2 enter password we
4 enter password we
5 enter password swordfish

Authorised

In [155]:
#additonal control for loops- continue , break ,else
animals = ['dog','cat','bat','rat','bear']
for i in animals:
    if i=='bat':continue # BAT IS NOT PRINTED,it skips --It shortcuts the loop.
    print(i)
else:
    print("that are all animals availabel")
    
print("-------------------------------------------------")    

animals = ['dog','cat','bat','rat','bear']
for i in animals:
    if i=='bat':break # only iteams above bat are printed,below items skipped
    
    print(i)
else:
    print("that are all animals availabel")

dog
cat
rat
bear
that are all animals availabel
-------------------------------------------------
dog
cat

In [166]:
#Standart function structure

def main():
    kitten()
    
def kitten():
    print("meow")

if __name__ == '__main__':main() 

print("-------------------------------------------------")    

def main():
    kitten(5)
    
def kitten(n):
    print(f"{n} meow")

if __name__ == '__main__':main() 

print("-------------------------------------------------")    

def main():
    x = kitten(5)
    print(x)  # function always return values..if no return specifed it will return none
    
def kitten(n):
    print(f"{n} meow")

if __name__ == '__main__':main() 

print("-------------------------------------------------")    

def main():
    x = kitten(5)
    print(x)  # function always return values..if no return specifed it will return none.To overcome return the value
    
def kitten(n):
    return (f"{n} meow")

if __name__ == '__main__':main()

meow
-------------------------------------------------
5 meow
-------------------------------------------------
5 meow
None
-------------------------------------------------
5 meow